include ./mixins.pug
include ./templates/entry.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.parallax
            .parallax__layer(data-speed="0.15")
              +image("parallax/6.png", "parallax__image")
            .parallax__layer(data-speed="0.25")
              +image("parallax/5.png", "parallax__image")
            .parallax__layer(data-speed="0.35")
             +image("parallax/4.png", "parallax__image")
            .parallax__layer(data-speed="0.40")
              +image("parallax/3.png", "parallax__image")
            .parallax__layer(data-speed="0.45")
              +image("parallax/2.png", "parallax__image")
            .parallax__layer(data-speed="0.50")
              +image("parallax/1.png", "parallax__image")
            .parallax__layer(data-speed="0.55")
              +image("parallax/7.png", "parallax__image")
          section.hero
            .container.hero__container
              header.header.hero__header
                .header__logo
                  a(href="#").logo HA
                .header__menu
                  nav.menu
                    ul.menu__list
                      - var menu = [{link: '#skill', title: 'Главная' }, {link: '#about', title:'Обо мне'} , {link: '#skills', title:'Навыки' }, {link: '#works', title:'Работы' }, {link: '#reviews', title:'Отзывы'} , {link: '#contacts', title:'Связаться'}];
                      each item in menu
                        - const {link, title} = item
                        li.menu__item
                          a(href= link).menu__link #{title}
                .header__buttons
                  ul.socials
                    - var socials = ['insta' , 'vk' , 'github'];
                    each item in socials
                      li.socials__item
                        a(href="https://vk.com/n0v1k").socials__link 
                          +icon(`${item}`, 'socials__icon')
                .header__burgerMenu
                  .burgerMenu
              .hero__content
                .userinfo
                  .userinfo__title Личный сайт <br> веб разработчика
                  h1.userinfo__name 
                    span Андрей 
                    span Новиков
              a(href="#about").hero__downbutton
                .scroll-down__btn Скролл
          
          section.about(id = "about")
              .container
                .about__columns
                  .about__user
                    .user
                      .user__avatar
                        .user__avatar-wrapper
                          +image("content/novik2.jpg", "user__avatar-pic")
                        .user__about
                          -
                            var data = [
                              ['Проживаю', 'Москва'],
                              ['Возраст', '27'],
                              ['Родился', '12.09.1993'],
                            ];
                          table.user__table
                            each row in data
                              tr
                                td.user___table-title #{row[0]}
                                td.user___table-content #{row[1]}
                    .about__user-text
                      .about__main-text-content
                        h4.about__desc Привет, меня зовут
                        h2.about__title Новиков Андрей
                        .about__text-info
                          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                      .about__ps
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .middle-section
          section.values(id = "skills")
            .container.values__container
              .values__wrapper
                .values__title
                  .values__title-container
                    h3.values__title-text.section-title Чем я могу быть полезен
                    .values__content
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .values__widget
                  #skills-component
                  
          section.works(id = "works")
            .container.works__container
              h2.section-title.works__section-title Мои работы
              .works__content
                #slider-component
        section.contacts(id = "reviews")
            .container.contacts__container
              .contacts__about
                .reviews
                  .reviews__header
                    .reviews__title.section-title Что обо мне говорят ?
                    .reviews__buttons
                      //- .reviews__btn
                      //-   .reviews__btn_prev(@click.prevent="$emit('slide','prev')")
                      //-   .reviews__btn_next(@click.prevent="$emit('slide','next')")
                  .reviews__content
                      ul.reviews__content-item
                        #hooper
                          
                .form
                  .section-title.contacts__form-title(id = "contacts") Связаться со мной
                  form.form__elem
                    .form__row
                      - 
                        var fields = [
                          ['user', 'Введите ваше имя', 'Иван Иванов'],
                          ['envelope', 'Введите ваш email', 'loftschool@study.com'],
                        ]
                      each item in fields
                        label.form-block(data-title=item[1])
                          .form-block__container
                            +icon(`${item[0]}`, 'form-block__icon') 
                            .form-block__field
                              input(type="text" placeholder=item[2] required).form-block__input
                    .form__row.form__row--extra-margin
                      label.form-block(data-title="Сообщение к письму")
                        .form-block__container.form-block__container_align_top
                          +icon('message', 'form-block__icon') 
                          .form-block__field
                            textarea(
                              placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса"
                            ).form-block__input
                    .form__row-btn
                      input(type="submit" value="отправить").gradient-btn.form__submit

      footer.footer
          .container.footer__container
            .footer__copyright
              .footer__copyright-col
                .footer__copyright-year &copy; 2020
              .footer__copyright-userinfo
                .footer__copyright-name Новиков Андрей
                .footer__data-text Личный сайт веб - разработчика
            .footer__data
              nav.menu.menu--color-white.footer__data-menu
                ul.menu__list
                  - var menu = [{link: '#skill', title: 'Главная' }, {link: '#about', title:'Обо мне'} , {link: '#skills', title:'Навыки' }, {link: '#works', title:'Работы' }, {link: '#reviews', title:'Отзывы'} , {link: '#contacts', title:'Связаться'}];
                      each item in menu
                        - const {link, title} = item
                        li.menu__item
                          a(href= link).menu__link #{title}
              .footer__data-content
                .footer__data-col
                  .footer__data-text
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__data-socials
                    ul.socials.socials--round-borders
                      each item in socials
                        li.socials__item
                          a(href="#").socials__link
                            +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  .text-quote
                    .text-quote__text
                      p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете 
                    .text-quote__author Martin Golding    


